:root {
  --primary-color: #f8b400;

  --secondary-color: #faf5e4;

  --third-color: #2c786c;

  --fourth-color: #004445;

  --font-one: "Playfair Display", serif;
  --font-two: "Comic Neue", cursive;
}
.navbar-brand {
  color: var(--secondary-color);
}
body {
  background: var(--third-color);
  color: var(--fourth-color);
}
.hero {
  background: var(--third-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 20px 0px;
}
#homepageButton {
  background: var(--primary-color);
  color: var(--secondary-color);

  font-family: var(--font-two);
  font-weight: bold;
  text-align: center;
}
.hero p {
  font-size: 36px;
  font-family: var(--font-one);
  padding: 30px 0px 0px 0px;
}
h1 {
  font-size: 96px;
  font-family: var(--font-two);
  margin: 0;
  text-align: center;
}
h2 {
  font-family: var(--font-one);
  font-size: 36px;
  margin: 0;
}
.introSection {
  font-family: var(--font-one);
  background: var(--fourth-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 5px;
}
.border {
  border-color: var(--third-color);
}
h4 {
  font-size: 64px;
  font-family: var(--font-two);
  margin: 20px 20px;
}
h5 {
  font-family: var(--font-two);
  margin: 20px 20px;
  font-weight: bold;
}
p {
  font-size: 16px;
  font-family: var(--font-two);
  margin: 20px 20px;
}
.inTheGardenButton {
  background: var(--primary-color);
  color: var(--secondary-color);
  margin: 10px;
  font-family: var(--font-two);
  font-weight: bold;
  text-decoration: none;
}
footer {
  text-align: center;
  color: var(--secondary-color);
  font-size: 14px;
}

a {
  color: var(--secondary-color);
}
a:hover {
  color: var(--fourth-color);
}
a:visited {
  text-decoration: none;
}
.container {
  background: var(--secondary-color);
  color: var(--fourth-color);
  margin: 10px auto;
  border-radius: 6px;
}
img {
  border-radius: 6px;
  margin: 10px auto;
  display: block;
}
@media (max-width: 576px) {
  img {
    display: none;
  }
  p {
    text-align: center;
  }
  h1 {
    font-size: 64px;
  }
}
.aboutHOne {
  color: var(--secondary-color);
  font-size: 64px;
  margin: 40px 20px;
}
.aboutInfoSection {
  font-family: var(--font-one);
  border-radius: 6px;
  color: var(--fourth-color);

  padding: 5px;
}
.aboutButton {
  font-family: var(--font-two);
  font-weight: bold;
  display: block;
  text-align: center;
}
.headshot {
  max-width: 500px;
  border-radius: 6px;
  margin: 10px auto;
}
.nav-link {
  color: var(--secondary-color);
}
.aboutMiniHeader {
  font-size: 32px;
  font-weight: bold;
}
.gardenHeader {
  color: var(--secondary-color);
  font-size: 64px;
  margin: 40px 20px;
}
.homeHeader {
  color: var(--secondary-color);
  font-size: 64px;
  margin: 40px 20px;
}
#my-email {
  color: var(--fourth-color);
  text-decoration: none;
  font-weight: bold;
}
.social-links i {
  font-size: 48px;
  padding: 10px 10px;
}
